@media screen and (max-width: 1320px) {
    nav{
        padding: 0 7vmax;
    }
    #home{
        height: 100vh;
        > section{
            &:first-of-type{
                padding-left: 7vmax;
                > div aside{

                    width: 85%;
                }
            }
            &:last-of-type{
                padding-right: 3rem;
                margin-top: 6rem;
                img{
                    height: 22rem;
            width: 22rem;
                }
            }
        }
    }
    #projects{
        padding: 8rem 7vmax;
        height: 110vh;
        > section{
            > article{
                height: 20rem;
                width: 90%;
                margin: 0 1rem 0 1rem;
                padding-left: 1.5rem;
            }
            .workItem{

                padding: 2rem;
                height: 20rem;
                > p, >a{
                    padding: 1rem;
                }
            }
        }
    }
    #about{
        gap: 1rem;
    }
    #contact > section > form{
        >input, >button {
            font: 400 0.8rem "Raleway";
            width: 50%;
        }
    }
    footer{
        padding-left: 2rem;
    }
}


@media screen and (max-width: 1100px) {
    nav{
        padding: 0 5vmax;
    }
    #home{
        height: 110vh;
        > section{
            width: 60%;
            &:first-of-type{
                padding-left: 5vmax;
                > div {
                    >h1{
                        font:900 25px "poppins" ;
                    }
                    aside{
                    width: 100%;
                }
            }
            }
            &:last-of-type{
               
                img{
                    margin: 6rem 17rem 0rem 0rem;

                    height: 20rem;
                    width: 20rem;
                }
            }
        }
    }
    #projects{
        padding: 8rem 5vmax;
        height: 100vh;
    
    }
    #about{
        height: 110vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 3rem auto;
    
        
        section:first-of-type{
            margin: auto;
        }
        section:last-of-type{
            padding: 2rem 10rem;           
            margin-bottom: 2rem;
        }
        
    }
    #contact > section > form{
        >input, >button {
            font: 400 0.8rem "Raleway";
            width: 50%;
        }
    }
    footer{
        padding-left: 2rem;
    }
}


@media screen and (max-width: 910px) {
    nav{
        padding: 0 2vmax;
        >h1{
            font-size: 18px;
        }
        > ul{
            
            >li{
                    a{
                    font-size: 15px;
                    
                }
            }
        }
    }
    #home{
      
        height: 100vh;
        > section{
            &:first-of-type{
                
                margin-left: 2rem;
                padding-left: 1vmax;
                > div{
                     >h1{
                        font-size: 18px;
                     }
                     .typewriter{
                        font-size: 18px;

                     }
                    >div{
                        gap: 1.8rem;
                        width: 100%;
                        a:first-of-type{
                            font-size: 18px;                         
                        }
                        a:last-of-type{
                            font-size: 18px;                         
                        }


                    }
                    aside{
                        display: flex;
                        flex-direction: column;
                        > span{
                            font-size: 17px;
                        }
                        > p{
                            font-size: 17px;

                        }
                        
                    }
                } 
            }
            &:last-of-type{
                
                
                img{                   
                    height: 18rem;
                    width: 18rem;
                }
            }
        }
    }
    #projects{
       
        > section{
            margin: auto;
            > article{
                height: 20rem;
                width: 90%;
                margin: 0 1rem 0 1rem;
                padding-left: 1.5rem;
            }
            .workItem{
               
                height: 25rem;
               > aside {
                > p{
                    letter-spacing: 1.5px;
                }
               }
            }
        }
    }
    #about{
        gap: 1rem;
    }
    #contact > section > form{
        >input, >button {
            font: 400 0.8rem "Raleway";
            width: 50%;
        }
        > h2{
            font: 100 2.3rem "Raleway";
        }
    }
    footer{
        height: 200px;
        padding-left: 0rem;
        padding-bottom: 1rem;
        
        
        > div {
            margin: 0 2rem;
            >h3{

                font-size: 16px;
            }
        }
    }
}


@media screen and (max-width: 790px) {
    nav{
        height: 60px;
        > ul{
             >li{
                 > a{
                    display: none;
                    }
                 }
            }
         }
    .navBtn{
        margin-right: 2rem;
        margin-top: -1rem;
        display: block;
    }
    #projects{
       
        > section{
            .workItem{
                height: 27rem;
               
            }
        }
    }
    #about{
        > section{
            &:last-of-type{
                padding-bottom: 8rem;
                >aside{
                    padding: 1rem;
                }
            }
        }
    }
    
}

@media screen and (max-width:680px) {
    
    #home{
        height: unset;
        display: flex;
        flex-direction: column-reverse;
        >section{
            
            &:last-of-type{
                padding-left: 4rem;
                img{
                
                    height: 14rem;
                    width: 14rem;
                   margin: auto;
                }
                

            }
            &:first-of-type{
                
                > div{
                     >h1{
                        font-size: 17px;
                        text-align: center;
                     }
                     .typewriter{
                        font-size: 14px;

                     }
                    >div{
                        gap: 1rem;
                        width: 100%;
                        a:first-of-type{
                            font-size: 14px;                         
                        }
                        a:last-of-type{
                            font-size: 14px;                         
                        }
                    }
                    > article{
                        > p{
                            font-size: 17px;                         
                        }
                    }
                    > aside{
                       
                      > article{
                          > p{
                              font-size: 16px;
                          }
                        > span{
                            font-size: 17px;
                        }
                        
                    }
                    > article{
                        > p{
                            font-size: 17px;
                        }
                        > span{
                            font-size: 16px;
                      }
                      
                  }
                  }
                } 
            }
        }
        svg{
            bottom: 19%;
            font-size: 20px;
            left: 37%;
        }
    }
    #projects{
        
        width: 500px;
        margin-left: -20px;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        >h2{
            font-size: 25px;
            margin-left: 100px;
            text-align: center;
        }
        > section {
            
            height: 80%;
            margin: 0;
            > article {
                margin-left: -24px;
              width: 100%;
              height: 30vmax;
            }
            .workItem {
                box-shadow: none;
                margin: 0;
                margin-left: 10px;
                width: 350px;
                height: 250px;
                
                > aside{
                    
                    > h3 ,> p, > a{
                        margin-top: 5px;
                        font-size: 12px;
                    }
                    > p{
                        
                        letter-spacing: .8px;
                    }
                }
            }
        }
    }
    #about{
        margin: 0px 0;
        padding: 0;
        >section{
            &:first-of-type{
                margin-left: 90px;
            }
            &:last-of-type{
                margin: 10px 30px;
                padding: 0;
                > div {
                    width: 22.4rem;
                    > h2, > p{
                        font-size: 13px;
                    }
                    >aside{
                        gap: 1rem;
                        >ul{
                            
                            margin-left: 0.5rem;
                            gap: 0.5rem;
                        }
                    }
                }
            }
        }
    }
    #contact{
        width: 520px;
        >section{
            margin-left: 65px;
            &:first-of-type{
                > form{
                    
                    > h2{
                        font-size: 25px
                    }
                  
                }
            }
            
        }
        > aside{
            > img{
                display: none;
            }
        }
    }
    footer{
        >div{
            display: flex;
            flex-direction: column;
            width: 500px;
            margin: auto 20px;

            > h3{
                padding-right: 50px;
                margin: 40px 80px 40px 0px;
                font-size: 14px;
              
            }
            > div{
                margin: 0px 80px 0px 0px;

                > a{
                    
                    > svg{
                       
                        font-size: 25px;
                    }
                }
            }

            > div{
              
                > a{
                    
                    > svg{
                    
                        font-size: 25px;
                    }
                }
            }
        }
    }
}