#projects{
    width: 100%;
    height: 100vh;
    
    
    margin: 8rem auto;
    h2{
        font: 700 2rem "poppins";
        width: fit-content;
        border-bottom: 1px solid pink;
        padding: 0.5rem;
        margin: auto;
    }
    >section{
        margin: 4rem auto;
        width: 70%;
        
        height: 100%;
        background-color: #292b46;
        display: flex;
        align-items: center;

        >article{
            width: 70%;
            height: 25vmax;
            margin-left: 8rem;
            
        }
        .workItem{
            overflow-y: auto;
            height: 25vmax;
            width: 95%;
            margin: auto;
            background-color: white;
            display: flex;
            padding: 2rem;
            box-shadow: 0 0 20px 5px #fef2f2;
            >img{
                border-radius: 20px;
                width: 40%;
                object-fit: cover;
            }
            >aside{
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                >p{
                    letter-spacing: 3px;
                    line-height: 180%;
                }
                >a{
                    background-color: red;
                    padding: 0.7rem 2rem;
                    margin: 2rem;
                    color: white;
                    transition: all 0.5s;
                    &:hover{
                        background-color: crimson;
                    }
                }
            }
        }
    }
}